.total_price {
  display: flex;
  align-items: center;

  svg {
    width: 36px;
    height: 36px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
}

.list {
  composes: body;
  max-height: 464px;
  overflow: auto;
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #2f2f37;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8585ad;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.drag {
  cursor: pointer;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: end;
}
